name: Test and Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
          components: clippy
          override: true
    
    - name: Install toolchain
      id: toolchain
      uses: actions-rs/toolchain@master
      with:
        profile: minimal
        toolchain: nightly
        target: wasm32-unknown-unknown

    - name: Install protobuf-compiler
      run: sudo apt-get install protobuf-compiler

    - name: Rust Cache
      uses: Swatinem/rust-cache@v1.3.0

    - name: Check workspace
      run: cargo check --tests

    - name: Test workspace
      run: cargo test --package pallet-eth2-light-client

    - name: Clippy
      run: cargo clippy --package pallet-eth2-light-client -- -D warnings