name: Test and Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
          components: clippy
          override: true

    - name: Check workspace
      run: cargo check --package pallet-eth2-light-client

    - name: Test workspace
      run: cargo test --package pallet-eth2-light-client

    - name: Clippy
      run: cargo clippy --package pallet-eth2-light-client -- -D warnings